* { 
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body { 
	background: #aaa;
	font: 13px Helvetica, Arial, sans-serif;
    color: #222;
}

/***NEW / JOIN ROOM SCREEN ***/
#access {
    display: table;
    margin: 0 auto;
    padding: 10%;
}

#access button {
	display: block;
	width: 20vw;
    margin-bottom: 4rem;
    padding: 2rem;
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
    background: #f2f2f2;
    letter-spacing: 1px;
    font-size: 1rem;
    font-weight: bold;
	border-style: outset;
	border-width: 4px;
}

/*** NEW / JOIN OPTIONS ***/
.accessOptions {
	display: none;
	top: 0;
	position: absolute;
    width: 100%;
    padding-top: 2.5%;
    padding: 1%;
    text-align:center;
    font-weight: bold;
}

.accessOptions legend {
	font-size: 1rem;
	padding: 1rem;
	margin-bottom: 0.5rem;
}

.accessOptions button {
    margin: 1rem auto;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    text-align: center;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    background: #f2f2f2;
}

.preForm {
    padding-bottom: 0.4rem;
    text-align: center;
}

.form {
    padding-bottom: 2rem;
}

.form input {
    text-align: center;
    padding: 0.25em;
    background: #f2f2f2;
}
/*-- */


/*** MAP ***/
#map {
	display: none;
	top: 0;
	position: fixed;
	width: 100%;
	height: 65vh; 
}
/*-- */


/*** CHAT ***/
#chat {
	display: none;
	bottom: 0;
	position: fixed;
	width: 100%;
	height: 35vh;
	border-style: ridge;
	border-width: 1px;
	border-color: #aaa;
}

#chat_info {
	float: left;
	padding: 5px 10px;
	background: #aaa;
	border-style: ridge;
	border-color: #f2f2f2;
}

#chat_info p {
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	letter-spacing: 1px;
}

#roomNumber {
	padding-bottom: 1em;
	font-weight: bold;
	color: #f2f2f2;
	border-bottom: 1.5px dotted #ccc;
}

#members {
	font-weight: bold;
}

#conversation {
	padding-top: 0.5em;
	background: #f2f2f2;
}

#chat_info, #conversation {
	overflow: auto;
	height: 30vh;
}

#messages { 
	font: 14px Helvetica, Arial, sans-serif;
}

#messages li {
	padding: 5px 10px;
}

#chatBar {
    display: table;
	width: 100%;
}

#chatBar input {
	height: 5vh;
	padding-left: 0.5em;
    width: 100%;
}
/*-- */


/** Switch between map and chat (Mobile and Tablets) **/
#switchButtons { 
	display: none;
}

#switchButtons button {
	top: 0;
	left: 0;
    position: absolute;
    width: 50%;
    height: 12vh;
    letter-spacing: 1px;
    font-size: 1rem;
    text-align: center;
    background: #f2f2f2;
	border-style: outset;
}

#switchButtons button:nth-child(1) {
	font-weight: bold;
}

#switchButtons button:nth-child(2) {
	left: 50%;
}
/*-- */


/** RESPONSIVE (media queries) **/

/* Tablets
   ---------------------------------- */
@media (max-width: 1024px) {
	#access button {
		width: 70vw;
	}
}


/* Mobile-landscape / tablet-portrait
   ---------------------------------- */
@media (max-width: 768px) {

	#access button {
		width: 60vw;
		padding: 1.5rem;
		margin-bottom: 0em;
	}

	#newRoom {
		margin-bottom: 2.4rem;
	}

	#map {
		top: auto;
		bottom: 0;
		height: 88vh;
	}

	#chat {
		height: 88vh;
	}

	#chat_info, #conversation {
		height: 76vh;
	}

	#chatBar input {
		height: 12vh;
	}
}

/* Mobile-portrait
   ---------------------------------- */
@media (max-width: 480px) {
	#access {
		padding-top: 12%;
	}
}

/* Mobile-landscape
   --------------------------------- */
@media (max-height: 400px) {
	#switchButtons button {
		height: 18vh;
	}

	#map {
		height: 82vh;
	}

	#chat {
		height: 82vh;
	}

	#chat_info, #conversation {
		height: 64vh;
	}

	#chatBar input {
		height: 18vh;
	}
}


/* Mobile-writing mode */
@media (max-height: 210px) {
	#switchButtons button, #chat_info, #conversation {
		display: none;
	}

	#chatBar input {
		height: 50vh;
	}
}